# Section 1: Introduction to Python

## Python basics

This section will provide you with a foundational understanding of Python syntax and data types.

Basics of Python:

    a. Python Fundamentals
    
    b. Variables
    
    c. Data Types
    
    d. Operators
    
    e. Conditions and Loops
    
    f. Python Functions
    
    g. Python Data Structures

<b>Note: At the end of this notebook some links are shared with you Try to gain as much knowledge as you can apart from this notebook also.</b>

## Comments

Many of the examples in this notebook include comments. Comments in Python start with the hash character (`#`) and extend to the end of the physical line. A comment may appear at the start of a line or following white space or code, but not within a string literal. A hash character within a string literal is just a hash character. Because comments are there to clarify code and are not interpreted by Python, they may be omitted when typing in examples. For example:

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(text)

# This is not a comment because it's inside quotes.

### Arithmetic and numeric types

> **Learning goal:** By the end of this subsection, you should be comfortable with using numeric types in Python arithmetic.

Python is an interpreted language, which means that you can interactively use the interpreter to get immediate results. You can see this by using the Python interpreter as a simple calculator: type an expression, and you can see the output immediately.

How can you see the results? The Python interpreter runs inside this notebook. To run the code inside a cell, either click the **Run Cell** button at the top of the window or press **Ctrl**+**Enter**. Try running the contents of the cell below. (Don't worry, you'll cover what the syntax of the Python code means later on in this section.)

In [2]:
print("Hello, world.")

Hello, world.

In [2]:
#print with single quotes
print('Hello World')

Hello World

In [3]:
#print with triple quotes
print('''Hello World''')

Hello World

In [5]:
#print with triple quotes
print('''Hello \n World''')

Hello

 World

In [5]:
#In order to get text in your written format use triple single quotes or triple double quotes
print("""Hi
                STudents""")

Hi
                STudents

In [6]:
#In order to get text in your written format use triple single quotes or triple double quotes
print('''Hi
                STudents''')

Hi
                STudents

In [6]:
#Some common mistakes
print("He said, "What's there?"")

SyntaxError: invalid syntax (<ipython-input-6-81611a732907>, line 2)

In [8]:
#Here is confusion regarding where your statement ends?? Python is considering first single quote which is appearing as end.
print('He said, "What's there?"')

SyntaxError: invalid syntax (<ipython-input-8-8f9ca6a320ee>, line 2)

In [9]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
#Using Backward slash will help you to skip first single quote as end of the line 
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [10]:
print("C:\\Python32\\Lib")
print("This is printed\nin two lines")

C:\Python32\Lib
This is printed
in two lines

<b>format() Method</b>

Formatters work by putting in one or more replacement fields and placeholders defined 
by a pair of curly braces { } into a string.The value we wish to put into the placeholders and
concatenate with the string passed as parameters into the format function.

In [11]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [12]:
# formatting integers
"Binary representation of {0} is {0:b}".format(12)

'Binary representation of 12 is 1100'

In [13]:
# round off
"One third is: {0:.3f}".format(1/3)

'One third is: 0.333'

In [14]:
# formatting floats
"Exponent representation: {0:e}".format(1566.345)

'Exponent representation: 1.566345e+03'

In [15]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

<h3>Python Keywords and identifiers</h3>

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are 33 keywords in Python 3.7. This number can vary slightly in the course of time.

All the keywords except True, False and None are in lowercase and they must be written as it is

False,class,finally,is,return,
None,continue,for,lambda,try,
True,def,from,nonlocal,while,
and,del,global,not,with,
as,elif,if,or,yield,
assert,else,import,pass,
break,except,in,raise

<b>Rules for writing identifiers</b><br>

1.Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.Names like myClass, var_1 and print_this_to_screen, all are valid example.<br>

2.An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.<br>

3.Keywords cannot be used as identifiers.
<br>

4.We cannot use special symbols like !, @, #, $, % etc. in our identifier
<br>

5.Identifier can be of any length.

#### Python numeric operators

Expression syntax is straightforward: the operators `+`, `-`, `*`, and `/` work just like in most other programming languages (such as Java or C). For example:

In [11]:
2 + 3

5

The order of operations also works as in other programming languages (and in math class):

In [12]:
30 - 4*5

10

Note what happens when you use division:

In [13]:
7 / 5

1.4

Division (`/`) always returns a floating-point number, which brings up a good point. Python (like other programming languages) has different numeric types. Integer numbers (such as `1`, `3`, and `20`) have type [`int`](https://docs.python.org/3.6/library/functions.html#int). Numbers with a fractional component (such as `3.0` or `1.6`) have type [`float`](https://docs.python.org/3.5/library/functions.html#float).

You can mix numeric types in calculations:

In [14]:
3 * 3.5

10.5

In [15]:
7.0 / 5

1.4

You can perform a type of division that returns an integer: [floor division](https://docs.python.org/3.6/glossary.html#term-floor-division). Floor division uses the `//` operator, discards any remainders, and just returns an `int`.

In [16]:
7 // 5

1

To calculate the remainder, you can use the modulo operator, `%`:

In [17]:
7 % 5

2

For exponents, use the `**` operator. For example, you can write $5^2$ as:

In [18]:
5 ** 2

25

Conversely, $2^5$ would be:

In [19]:
2 ** 5

32

Note that `**` has higher precedence in the order of operations than the negative sign, `-`. This means that $-5^2$ is actually the same thing as $-\left(5^2\right)$:

In [22]:
-5**2

-25

In order to assert the order of precedence that you want, use parentheses, `()`:

In [23]:
(-5)**2

25

Parentheses can supersede the order of operations in any calculation you need to run:

In [24]:
(30 - 4)*5

130

### Variables

As in other programming languages, it is often essential to save values for later using variables in Python. Python assigns values to variables using the equals sign (`=`):

To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.
<variable name> = <value>
Python uses = to assign values to variables. There's no need to declare a variable in advance (or to assign a data type to it), assigning a value to a variable itself declares and initializes the variable with that value. There's no way to declare a variable without assigning it an initial value.

<b>A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data which can be changed later throughout programming</b>

Ex: a = 10

<b>Assigning a value to a Variable in Python</b>

Ex:
k = "google.com"<br>
print(k)

In [25]:
length = 15
width = 3 * 5
length * width

225

If you come from a programming background in another programming language (such as Java), you might have noticed that you never specified the variable type when you declared our variables `length` and `width`. Python does not require this, and you can change variable types as you wish:

In [26]:
length = 15
length

15

In [27]:
length = 15.0
length

15.0

In [28]:
length = 'fifteen'
length

'fifteen'

Note that, for all the flexibility of variables in Python, you do have to define them. If you try to use an undefined variable, it will produce an error:

In [32]:
n

NameError: name 'n' is not defined

In Python's interactive mode and in Jupyter Notebooks, you can use the built-in variable `_`, which automatically takes the value of the last printed expression. For example:

In [33]:
tax = 11.3 / 100
price = 19.95
price * tax

2.25435

In [34]:
price + _

22.204349999999998

Note that you should always treat the `_` variable as read-only. Explicitly assigning a value to it will create an independent local variable with the same name and will mask the built-in variable (and its behavior).

Our previous output was kind of a mess, however; you generally use only two or fewer decimal points when working with prices. In order to clean this up, you can use a built-in function, `round()`.

In [35]:
round(_, 2)

22.2

You will cover some of the other functions built into Python and user-defined functions later in this section.

You do not have to define variables one at a time. You can define multiple variables on a single line, like so:

In [36]:
a, b, c, = 3.2, 1, 6
a, b, c

(3.2, 1, 6)

You can also augment variable assignments. This will be particularly useful when you tackle loops later in this section.

In [37]:
x = 5
x = x + 1  # Un-pythonic variable augmentation
x += 1  # Pythonic variable augmentation
x

7

Pythonic means code that doesn't just get the syntax right but that follows the conventions of the Python community and uses the language in the way it is intended to be used.

Note that augmented assignment doesn’t have to be by 1 or even just addition. Beyond +=, augmented assignment statements in Python include -=, \*=, /=, %=, and \**=. Try playing around with different augmentation assignments until this concept makes sense.

Python supports other types of numbers beyond `int` and `float`, such as [`Decimal`](https://docs.python.org/3.6/library/decimal.html#decimal.Decimal) and [`Fraction`](https://docs.python.org/3.6/library/fractions.html#fractions.Fraction). Python also has built-in support for [complex numbers](https://docs.python.org/3.6/library/stdtypes.html#typesnumeric), which are all beyond the scope of this course.

### Expressions

As with other programming languages, expressions are critical for decision making controlling the logical flow of Python programs. The most fundamental way of doing this in Python is with a comparison operator, such as "`<`":

In [ ]:
2 < 5

Python supplies several comparison operators:

<center>**Python Comparison Operators**</center>

| Operator |      Description      | Sample Input | Sample Output |
|:--------:|:---------------------:|:------------:|:-------------:|
| `<`      | Less than             | `2 < 5`      | `True`        |
| `>`      | Greater than          | `2 > 5`      | `False`       |
| `<=`     | Less than or equal    | `2 <= 5`     | `True`        |
|          |                       | `2 <= 2`     | `True`        |
| `>=`     | Greater than or equal | `2 >= 5`     | `False`       |
| `==`     | Equality              | `2 == 2`     | `True`        |
|          |                       | `2 == 5`     | `False`       |
| `!=`     | Inequality            | `2 != 5`     | `True`        |
|          |                       | `2 != 2`     | `False`       |

Python does not restrict you to comparing just two operands at a time. For example:

In [38]:
a, b, c = 1, 2, 3
a < b < c

True

This entire expression is `True` because `1 < 2` is `True` and `2 < 3` is `True`.

You can also use built-in functions in Python for comparing data. For example:

In [39]:
min(3, 2.4, 5)

2.4

In [40]:
max(3, 2.4, 5)

5

You can also combine comparison operators into compound expressions. For example:

In [ ]:
1 < 2 and 2 < 3

This compound expression returned `True` because **both** `1 < 2` is true and `2 < 3` is true. (Note that this is equivalent to `1 < 2 < 3`.)

> **Exercise:**

In [ ]:
# Now flip around one of the simple expressions and see if the output matches your expectations:
1 < 2 and 3 < 2

Python also provides the `or` Boolean operator, which requires that only one simple expression in a compound expression be true in order to return `True`. For example:

In [41]:
1 < 2 or 1 > 2

True

Finally, `not` inverts the truth evaluation of an expression, such as in:

In [42]:
not (2 < 3)

False

> **Exercise:**

In [43]:
# Play around with compound expressions.
# Set i to different values to see what results this complex compound expression returns:
i = 7
(i == 2) or not (i % 2 != 0 and 1 < i < 5)

True

> **Takeaway:** Arithmetic operations on numeric data form the foundation of data science work in Python. Even sophisticated numeric operations are predicated on these basics, so mastering them is essential to doing data science.

# Data Types

<b>bool: A boolean value of either True or False. Logical operations like and, or, not can be performed on booleans</b>

x or y    # if x is False then y otherwise x
x and y   # if x is False then x otherwise
y not x     # if x is True then False, otherwise True

<b>int: Integer number</b>

a = 2 
b = 100
c = 123456789
d = 38563846326424324
#Integers in Python are of arbitrary sizes.

<b>float: Floating point number.</b>

In [17]:
a = 2.0 
print(a)

2.0

## Strings

> **Learning goal:** By the end of this subsection, you should be comfortable working with strings at a basic level in Python.

Besides numbers, Python can also manipulate strings. Strings can be enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes; that is, use `\` in order to use quotation marks within the string itself:

In [18]:
'spam eggs'  # Single quotes.

'spam eggs'

In [46]:
'doesn\'t'  # Use \' to escape the single quote...

"doesn't"

In [48]:
"doesn't"  # ...or use double quotes instead.

"doesn't"

In the interactive interpreter and Jupyter Notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes; otherwise, it’s enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [21]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In [22]:
print('"Isn\'t," she said.')

"Isn't," she said.

If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use *raw strings* by adding an `r` before the first quote:

In [23]:
print('C:\some\name')  # Here \n means newline!

C:\some
ame

In [24]:
print(r'C:\some\name')  # Note the r before the quote.

C:\some\name

#### String literals

String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`.

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal that appears as the output of a code cell:

In [49]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

"\nEverything between the first three quotes, including new lines,\nis part of the multi-line comment. Technically, the Python interpreter\nsimply sees the comment as a string, and because it's not otherwise\nused in code, the string is ignored. Convenient, eh?\n"

For this reason, it's best in notebooks to use the # comment character at the beginning of each line, or better still, just use a Markdown cell outside of a code cell in a Jupyter notebook!

Strings can be *concatenated* (glued together) with the + operator, and repeated with *:

In [50]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

The order of operations applies to operators when they are used with strings as well as numeric types. Try experimenting with different combinations and orders of operators and strings to see what happens.

### Concatenating strings

Two or more *string literals* placed next to each other are automatically concatenated:

In [27]:
'Py' 'thon'

'Python'

However, to concatenate variables or a variable and a literal, use `+`:

In [28]:
prefix = 'Py'
prefix + 'thon'

'Python'

### String indexes

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [29]:
word = 'Python'
word[0]  # Character in position 0.

'P'

In [30]:
word[5]  # Character in position 5.

'n'

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [31]:
word[-1]  # Last character.

'n'

In [32]:
word[-2]  # Second-last character.

'o'

In [33]:
word[-6]

'P'

### Slicing strings

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slice, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [34]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

'Py'

In [35]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

'tho'

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [36]:
word[:2]   # Character from the beginning to position 2 (excluded).

'Py'

In [37]:
word[4:]  # Characters from position 4 (included) to the end.

'on'

In [38]:
word[-2:] # Characters from the second-last (included) to the end.

'on'

This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [52]:
word='Python'
word[:2] + word[2:]

'Python'

In [40]:
word[:4] + word[4:]

'Python'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

The first row of numbers gives the position of the indices 0–6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [41]:
word[42]  # The word only has 6 characters.

IndexError: string index out of range

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [42]:
word[4:42]

'on'

In [43]:
word[42:]

''

Python strings are [immutable](https://docs.python.org/3.6/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [44]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

The following cell also produces an error:

In [45]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

A slice is itself a value that you can concatenate with other values using `+`:

In [46]:
'J' + word[1:]

'Jython'

In [47]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal, and it cannot be used with automatic concatenation. The following code produces an error:

In [48]:
word[:2] 'Py'    # Slice is not a literal; produces an error

SyntaxError: invalid syntax (<ipython-input-48-60be1c701626>, line 1)

Oftentimes, while working with strings, it can be useful to evaluate the length of a string. The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [53]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

Another useful built-in function for working with strings is [`str()`](https://docs.python.org/3.6/library/stdtypes.html#str). This function takes any object and returns a printable string version of that object. For example:

In [54]:
str(2)

'2'

In [51]:
str(2.5)

'2.5'

> **Takeaway:** Operations on string data form the other fundamental task you will do in data science in Python. Becoming comfortable with strings now will pay large dividends to you later as you work with increasingly complex data.

## Other data types

> **Learning goal:** By the end of this subsection, you should have a basic understanding of the remaining fundamental data types in Python and an idea of how and when to use them.

The string and numeric data types that you have looked at so far are common to many programming languages. The other data types that you will now look at--lists, tuples, and dictionaries--set Python apart from C++ or Java by providing powerful and easy-to-use built-in data structures.

### Lists

Python knows a number of compound data types, which are used to group together other values. The most versatile is the [*list*](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [55]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [53]:
squares[0]  # Indexing returns the item.

1

In [54]:
squares[-1]

25

In [55]:
squares[-3:]  # Slicing returns a new list.

[9, 16, 25]

All slice operations return a new list containing the requested elements. This means that the following slice returns a new (shallow) copy of the list:

In [56]:
squares[:]

[1, 4, 9, 16, 25]

Lists also support concatenation with the `+` operator:

In [57]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [56]:
cubes = [1, 8, 27, 65, 125]  # Something's wrong here ...
4 ** 3  # the cube of 4 is 64, not 65!

64

In [59]:
cubes[3] = 64  # Replace the wrong value.
cubes

[1, 8, 27, 64, 125]

You can assign to slices, which can change the size of the list or clear it entirely:

In [60]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [61]:
# Replace some values.
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [62]:
# Now remove them.
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [63]:
# Clear the list by replacing all the elements with an empty list.
letters[:] = []
letters

[]

The built-in [`len()`](https://docs.python.org/3.6/library/functions.html#len) function also applies to lists for getting their lengths:

In [64]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

You can nest lists, which means to create lists that contain other lists. For example:

In [67]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

`x` is a list of lists, and you can access its constituent lists through the same indexing you use with simpler lists:

In [68]:
x[0]

['a', 'b', 'c']

And by using additional index numbers, you can directly access elements within those sub-lists:

In [69]:
x[0][0]

'a'

> **Exercise:**

In [71]:
# Nested lists come up a lot in programming, so it pays to practice.
# Which indices would you include after x to get ‘c’?
# How about to get 3?
print(x[0][2])
x[1][2]

c

3

### List object methods

Python includes a number of handy functions that are available to all lists.

For example, [`append()`](https://docs.python.org/3.6/tutorial/datastructures.html) and [`extend()`](https://docs.python.org/3.6/tutorial/datastructures.html) enable you to add to the end of a list, much like the `+=` operator:

In [73]:
beatles = ['John', 'Paul']
beatles.append('George')
beatles

['John', 'Paul', 'George']

Notice that you did not actually pass a list to `append()`; passing a list to `append()` results in this behavior:

In [61]:
beatles2 = ['John', 'Paul', 'George']
beatles2.append(['Stuart', 'Pete'])
beatles2

['John', 'Paul', 'George', ['Stuart', 'Pete']]

To tack a list on the end of an existing list, use `extend()` instead:

In [71]:
beatles.extend(['Stuart', 'Pete'])
beatles

['John', 'Paul', 'George', 'Stuart', 'Pete']

[`index()`](https://docs.python.org/3.6/tutorial/datastructures.html) returns the index of the first matching item in a list (if present):

In [72]:
beatles.index('George')

2

The [`count()`](https://docs.python.org/3.6/tutorial/datastructures.html) method returns the number of items in a list that match objects you pass in:

In [73]:
beatles.count('John')

1

There are two methods for removing items from a list. The first is [`remove()`](https://docs.python.org/3.6/tutorial/datastructures.html), which locates the first occurrence of an item in the list and removes it (if present):

In [74]:
beatles.remove('Stuart')
beatles

['John', 'Paul', 'George', 'Pete']

The other method for removing items from lists is the [`pop()`](https://docs.python.org/3.6/tutorial/datastructures.html) method. If you supply `pop()` with an index number, it will remove the item from that location in the list and return it; otherwise, `pop()` removes the last item in a list and returns that:

In [75]:
beatles.pop()

'Pete'

The [`insert()`](https://docs.python.org/3.6/tutorial/datastructures.html) method enables you to add an item to a specific location in a list:

In [76]:
beatles.insert(1, 'Ringo')
beatles

['John', 'Ringo', 'Paul', 'George']

Unsurprisingly, the [`reverse()`](https://docs.python.org/3.6/tutorial/datastructures.html) method reverses the order of items in a list:

In [77]:
beatles.reverse()
beatles

['George', 'Paul', 'Ringo', 'John']

Finally, the [`sort()`](https://docs.python.org/3.6/tutorial/datastructures.html) method orders the items in a list:

In [78]:
beatles.sort()
beatles

['George', 'John', 'Paul', 'Ringo']

> **Exercise:**

In [6]:
# What happens if you run beatles.extend(beatles)?
# How about beatles.append(beatles)
# beatles
beatles = ['John', 'Paul']
beatles.extend(beatles)
beatles.append(beatles)

Note that you can supply your own *lambda function* to `sort()` for use in comparing items in a list. You will cover lambda functions later in this section.

### Tuples

Another immutable data type in Python are *tuples*. It can be useful at times to create a data structure that won't be altered later in a program, such as to protect constant data from being overwritten on accident or to improve performance for iterating over data. This is where tuples come in. You create tuples much as you do lists, only using parentheses instead of brackets.

In [79]:
t = (1, 2, 3)
t

(1, 2, 3)

Because tuples are immutable, you cannot change elements within them:

In [80]:
t[1] = 2.0

TypeError: 'tuple' object does not support item assignment

However, you can refer to elements within them:

In [81]:
t[1]

2

You can also slice tuples:

In [82]:
t[:2]

(1, 2)

You can also create tuples from lists:

In [83]:
l = ['baked', 'beans', 'spam']
l = tuple(l)
l

('baked', 'beans', 'spam')

Or you can create lists from tuples:

In [84]:
l = list(l)
l

['baked', 'beans', 'spam']

### Membership testing

As your Python programming grows more complex, you will want to test lists and tuples for the membership of specific data. The `in` operator enables you to do that.

In [85]:
tup = ('a', 'b', 'c')
'b' in tup

True

You can also test to see if something is not in a list or tuple using `not in`:

In [86]:
lis = ['a', 'b', 'c']
'a' not in lis

False

> **Exercise:**

In [ ]:
# What happens if you run lis in lis?
# Is that the behavior you expected?
# If not, think back to the nested lists you’ve already encountered.

### Dictionaries

Dictionaries in Python provide a means of mapping information between unique keys and values. You create dictionaries by listing zero or more key-value pairs inside of braces, like this:

In [10]:
capitals = {'France': ('Paris', 2140526)}

Keys for dictionaries can be three things: strings, numbers, or tuples (that contain only strings, numbers, or other tuples). The important thing is that dictionary keys be immutable, so lists cannot be used for keys in dictionaries, for example.

You add to dictionaries like this:

In [88]:
capitals['Nigeria'] = ('Lagos', 6048430)
capitals

{'France': ('Paris', 2140526), 'Nigeria': ('Lagos', 6048430)}

> **Exercise:**

In [22]:
# Now try adding another country (or something else) to the capitals dictionary
capitals['India']=('delhi',400005)
capitals

{'Nigeria': ('Abuja', 1235880), 'India': ('delhi', 400005)}

You reference entries much like you do as through an index number for a string, list, or tuple, but instead of an index, use a key:

In [13]:
capitals['France']

('Paris', 2140526)

You can also update entries in the dictionary:

In [21]:
capitals['Nigeria'] = ('Abuja', 1235880)
capitals

{'Nigeria': ('Abuja', 1235880)}

When used on a dictionary, the `len()` method returns the number of keys in a dictionary:

In [15]:
len(capitals)

3

Similar to the `pop()` method for lists, the `popitem()` method randomly removes a key from the dictionary, along with its associated value:

In [19]:
capitals.popitem()

KeyError: 'popitem(): dictionary is empty'

In [27]:
capitals

{'Nigeria': ('Abuja', 1235880), 'India': ('delhi', 400005)}

> **Takeaway:** Regardless of how complex and voluminous the data you will work with, these basic data structures will repeatedly be your means for handling and manipulating it. Comfort with these basic data structures is essential to being able to understand and use Python code written by others.

### Control flow in Python

> **Learning goal:** By the end of this subsection, you should be comfortable using basic control flows in Python.

Now that you have a working understanding of the fundamental data types and structures in Python, you can move on to actual programming using Python.

#### If-statements

`If` statements in Python are similar to those in other programming languages like Java, and they form the backbone of the logical flow of most programs.

In [94]:
y = 6
if y % 2 == 0:
    print('Even')

Even

> **Exercise:**

In [29]:
# What behavior do you experience if you change y to be odd?
y=5
if y%2==0:
    print('Even')
else:
    print('Odd')

Odd

Did you notice the indentation for print under the if statement? That indentation is important because that is how Python demarks the scope of a control flow--what is contingently run or looped over--as opposed to the braces ({}) used in other languages.

To cover more contingencies without having to construct a follow-on `if` statement, you can add an `else` statement:

In [95]:
y = 7
if y % 2 == 0:
    print('Even')
else:
    print('Odd')

Odd

`elif` enables you to insert an additional logical test to an `if` statement:

In [96]:
y = 1
if y % 2 == 0:
    print('Even')
elif y == 1:
    print('One')
else:
    print('Odd')

One

Notice that, in the previous example, the `if` statement exited after finding the *first* logical test that was `true`. If `y = 1`, and while 1 is indeed odd, the `if` statement executed and exited after finding that `y == 1`, rather than continuing to the end of the statement.

> **Exercise:**

In [33]:
# Try changing the value of y in the snippet above.
# Do you get the output that you expect?
y = 1
if y % 2 == 0:
    print('Even')
elif y == 1:
    print('One')
else:
    print('Odd')

One

#### For-loops

It is often necessary in programs to iterate over some set of items. This is where `for` loops prove useful. For example, they can provide a useful way to iterate over the items of a list:

In [34]:
colors = ['red', 'yellow', 'blue']
for color in colors:
    print(color)

red
yellow
blue

Sometimes, you will want to iterate over a list using the list index rather than items from that list (say, when you want to access items from another list at the same time). In this case, you can combine list-object methods and for loops:

In [49]:
comp_colors = ['green', 'purple', 'orange']
for i in range(len(comp_colors)):
    print(colors[i], comp_colors[i])

red green
yellow purple
blue orange

You've met `len()` before, but [`range()`](https://docs.python.org/3/library/functions.html#func-range) is new to us. That function produces a sequence of integers from 0 to 1 less than the number passed into it. Hence:

In [50]:
for j in range(5):
    print(j)

0
1
2
3
4

In addition to `range(`*`stop`*`)`, the range function can take up to three parameters: `range(`*`start`*, *`stop`*`[, `*step*`])`. This odd-looking notation just means that if you pass a single argument to `range()`, it will take that to be the stop value; two arguments will be the start and stop values; and three values are `start`, `stop`, and `step`.

> **Exercise:**

In [52]:
# How would you use range and a for loop to print the sequence of numbers
# from 10 to 20? How about counting by threes from 17 to 41?
for h in range(10,20):
    print(h)
print()
for g in range(17,41,3):
    print(g)

10
11
12
13
14
15
16
17
18
19

17
20
23
26
29
32
35
38

It can also be important to break out of a loop. Python uses the `break` statement borrowed from C to do this. To see this in action, consider two nested for loops:

In [56]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

Note that, in the example above, the `else` statement belongs to the `for` loop, not to the `if` statement.

> **Exercise:**

In [57]:
# Try changing the code snippet above after you remove the break statement.
# What output does it now produce?
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
4 is a prime number
5 is a prime number
6 equals 2 * 3
6 equals 3 * 2
6 is a prime number
7 is a prime number
8 equals 2 * 4
8 equals 4 * 2
8 is a prime number
9 equals 3 * 3
9 is a prime number

As part of the control flow of your program, you might want to continue to the next iteration of your loop. The `continue` statement (also borrowed from C) can help with that:

In [101]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number:", num)
        continue
    print("Found an odd number:", num)

Found an even number: 2
Found an odd number: 3
Found an even number: 4
Found an odd number: 5
Found an even number: 6
Found an odd number: 7
Found an even number: 8
Found an odd number: 9

> **Exercise:**

In [59]:
# What happens when you replace the continue statement above with a break?
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number:", num)
        break
    print("Found an odd number:", num)

Found an even number: 2

#### While-loops

If you cross the functionality of the `if` statement with that of the `for` loop, you would get the `while` loop, a loop that iterates while some logical condition remains true. Consider this snippet of code to compute the initial sub-sequence of the Fibonacci sequence:

In [102]:
# In the Fibonacci series, the sum of two elements defines the next.
a, b = 0, 1

while b < 100:    
    print(b, end=', ')
    a, b = b, a+b

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

Go ahead and play with the number of iterations for the while loop. Notice that this snippet also uses multiple assignment for variables.

> **Takeaway:** Control flows are what make programs programs, as opposed to a single sequence of operations. Mastering the logical flow of information in Python will enable you to automate tasks that would be impossibly complex or time-consuming to do manually.

### Functions

> **Learning goal:** By the end of this subsection, you should understand how to pass and receive data from functions.

As in other programming languages, it is often essential in Python to break down your program into reusable chunks. A primary means of doing that is through functions.

For example, you could rewrite the `while` loop code snippet above as a formal function:

In [68]:
def fib(n):
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=', ')
        a, b = b, a+b

Now you can call this function and compute the Fibonacci series up to some arbitrary point:

In [104]:
fib(2000)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597,

Python can also define new functions on the fly. These anonymous functions are called *lambda functions* because you define them with the `lambda` keyword. Lambda functions can contain any number of arguments but only one expression.

In [69]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 != 0, nums))

[1, 3, 5, 7, 9]

> **Takeaway:** You will constantly be using functions of all kind to perform data science in Python, so understanding how functions accept, work on, and return data is critical to further progress.

### List comprehensions

> **Learning goal:** By the end of this subsection, you should understand how to economically and computationally create lists.

Sometimes, it makes more sense to generate a list algorithmically. Consider the last example. You really wanted just a list of numbers from 1 to 10. Rather than type those out, you can use a *list comprehension* to generate it:

In [106]:
numbers = [x for x in range(1,11)] # Remember to create a range 1 more than the number you actually want.
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can also perform computation on the items generated for the list:

In [107]:
squares = [x*x for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

You can even perform logical tests on list items in the comprehension:

In [108]:
odd_squares = [x*x for x in range(1,11) if x % 2 != 0]
odd_squares

[1, 9, 25, 49, 81]

> **Exercise:**

In [70]:
# Now use a list comprehension to generate a list of odd cubes
# from 1 to 2,197
odd_cubes=[x*x*x for x in range(1,2197)]
odd_cubes

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 1000000000,
 ...]

> **Takeaway:** List comprehensions are a popular tool in Python because they enable the rapid, programmatic generation of lists. The economy and ease of use therefore make them an essential tool for you (in addition to a necessary topic to understand as you try to understand Python code written by others).

### Classes and instance objects

> **Learning goal:** By the end of this subsection, you should have a basic understanding of class in Python, particularly class methods.

Python is an object-oriented programming language; nearly everything in Python is an object with attributes: data members (variables that belong to that object) and methods (functions built into an object that operate on that object's data).

A [class](https://docs.python.org/3/tutorial/classes.html) is like an object constructor, a blueprint for creating objects.

Let's take a look at what that looks like in Python by creating a class representing a simple bank account.

In [72]:
class BankAccount:
    """Where does your money go?"""
    
    account_count = 0
    
    # Above is an example of a class variable
    # Below are the class methods

    
    def __init__(self, balance=0):
        self.balance = balance
        BankAccount.account_count += 1
        
    def deposit(self, amount):
        self.balance += amount
        self.display_balance()
        
    def withdrawal(self, amount):
        self.balance -= amount
        self.display_balance()
        
    def display_balance(self):
        print('New balance: ${:.2f}'.format(self.balance))

Unless you specify a figure, objects in our `BankAccount` class are created empty. Let's create a new account with \$50.00 in it:

In [74]:
my_account = BankAccount(50)
my_account.balance
my_account.deposit(50)

New balance: $100.00

Our class also has three methods, two of which are designed to be accessed from outside the object.

In [111]:
my_account.deposit(100)

New balance: $150.00

In [112]:
my_account.withdrawal(125)

New balance: $25.00

You even have a documentation string in the class:

In [75]:
my_account.__doc__

'Where does your money go?'

Note the `account_count` class variable. It is outside any method of the class, which means that every instance of this class shares it. In application, that means that every time a new account is created, that counter iterates for every instance of the class. Here's how that looks in action:

In [76]:
my_account.account_count

2

In [77]:
your_account = BankAccount()
print(my_account.account_count, your_account.account_count)

3 3

> **Takeaway:** Because nearly everything in Python is an object, it is essential to understand—even at a basic level—what that means and how to use object attributes like methods.

### Importing modules

> **Learning goal:** By the end of this subsection, you should be comfortable importing modules in Python.

If you quit from the Python interpreter and enter it again, the definitions you have made (your functions and variables) will be lost. Similarly, you might also want to use a handy function that you’ve written in several programs without copying its definition into each program.

To support this, Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. Such a file is called a [*module*](https://docs.python.org/3/tutorial/modules.html). Definitions from a module can be imported into other programs or modules.

For example, the `factorial()` function is not one of the standard functions built into Python. It is part of the Python [`math`](https://docs.python.org/3/library/math.html) module. So, when you run `factorial()` before importing `math`, you get an error:

In [116]:
factorial(5)

NameError: name 'factorial' is not defined

However, the situation changes after you import the `math` module:

In [80]:
import math
math.factorial(5)

<module 'math' (built-in)>

Notice that you still have to prepend `math` to the front of the `factorial()` function. You can use a different method to import that specific function from the `math` module and use it as if it were defined in our program:

In [79]:
from math import factorial
factorial(5)

120

You can add more cells to your notebook by clicking the **insert cell below (+)** button at the top of the window. The Python [`math`](https://docs.python.org/3/library/math.html) module has many functions in it. Try importing some of the other math functions and playing around with them.

> **Takeaway:** There are several Python modules that you will regularly use in conducting data science in Python, so understanding how to import them will be essential (especially in this training).

### Resources
- [Python Programming Language](https://www.python.org/)
- [Introduction to Python](https://docs.microsoft.com/en-us/learn/modules/intro-to-python/)
- [Introduction to machine learning with Python and Azure Notebooks](https://docs.microsoft.com/en-us/learn/paths/intro-to-ml-with-python/)
2. [Article/Tutorial](https://www.programiz.com/python-programming/tutorial)
3. [Lecture](youtube.com/watch?v=woVJ4N5nl_s)